---
import "@fontsource-variable/nunito-sans";
---

<!doctype html>
<html lang="en" class="bg-neutral-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 - Internal Error</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="robots" content="noindex" />
  </head>
  <body class="min-h-svh grid text-neutral-950">
    <main class="flex flex-col justify-center items-center p-4">
      <h1 class="text-7xl flex flex-inline items-center">500</h1>
      <p class="text-lg text-center mt-3">
        Uh oh, you should not be seeing this page, let
        <a
          class="underline decoration-dashed duration-300 hover:text-amber-600"
          href="https://www.instagram.com/oldslimlok"
          target="_blank"
          rel="noopener noreferer">@oldslimlok</a
        > know that this happened.
      </p>
    </main>
  </body>
</html>
