---
interface Props {
  link: string;
  text: string;
  color: string;
}

const { link, text, color } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferer"
  class="bg-neutral-950 rounded-xl group lowercase"
>
  <span
    class=`block border-2 border-neutral-950 ${color} text-center text-lg font-bold py-3 px-5 rounded-xl -translate-y-[0.2rem] duration-100 group-hover:-translate-y-[0.3rem] group-active:translate-y-0`
  >
    {text}
  </span>
</a>
